shamefully-hoist=true
auto-install-peers=true
block-exotic-subdeps=false

# Electron Native Module Compilation
runtime=electron
target=34.5.8
dist-url=https://electronjs.org/headers
build-from-source=true
