node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.biome
.env
.env.local
.env.example
.env.production
.env.development
.env.test
.env.test.local
.env.test.example
.env.test.production
.env.test.development
.agent
.agent/
